.app {
  &__header {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    margin-bottom: 3rem;
    align-items: center;
  }
  &__title {
    font-size: 3rem;
    line-height: 10rem;
    height: 10rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
