.searchResult {
  &__pagination {
    margin-top: 4rem;

    .page-item {
      cursor: pointer;
    }
  }
  &__list {
    &__title {
      & > div {
        width: 45%;
      }
      margin-top: 2rem;
      margin-bottom: 1.4rem;
      font-size: 1.3rem;
      font-weight: 500;
    }

    &__item {
      & > div {
        width: 45%;
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      word-break: break-all;
    }
    &__title,
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
}
